/*<div className="chatWindow">
			<div className="communication">
				<div classNAme="messages">
				</div>
				<div className="sendBar">
				</div>
			</div>
			<div className="people">
				{this.listParticipants()}
			</div>
		</div>*/

.chatWindow{
	height: 100%;
	width: 100%;
	display: flex;
}
.communication{
	width: 80%;
	height: 100%;
	background-color: lightblue;
}
.serverData{
	width: 20%;
	height: 100%;
	background-color: pink;
}
.people{
	height: 50%;
}
.rooms{
	height: 50%;
}
.messages{
	height: 90%;
	width: 100%;
}
.messageRow{
	width: 100%;
	display: flex-block;
}
.messageRow > span{
	display: inline-block;
}
.messageRow:nth-child(even){
	background-color: lightgrey;
}
.sendBar{
	height: 10%;
	background-color: lightyellow;
	width: 100%;
}
.messageRow >  .sender{
	width: 20%;
	box-sizing: border-box;
	border-right: 1px solid black;
}
.messageRow  > .message{
	width: 80%;
	text-align: right;
}
.sendInput, .sendButton{
	box-sizing: border-box;
}
.sendInput{
	width: 90%;
}
.sendButton{
	width: 10%;
}
.roomRow{
	cursor: pointer;
	border-bottom: 1px solid black;
	display: flex;
}
.roomRow:nth-child(even){
	background-color: lightgrey;
}
.roomRow:hover{
	background-color: black;
	color: white;
}
.roomRow > .roomName{
	width: 45%;
}
.roomRow > .roomOwner{
	width: 45%;
}
.roomRow > .roomCount{
	width: 10%;
}